<header id="header" class="bg-light py-2">
    <div class="container">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-md-6 d-flex align-items-center">
                <a href="@Url.Action("Index", "Home")" class="logo text-decoration-none text-dark">
                    <span class="fa fa-book me-2"></span>
                    <span class="h4 mb-0">Book Online Store Website</span>
                </a>
            </div>

            <!-- Form tìm kiếm -->
            <div class="col-md-4">
@*                 <form method="post" action="@Url.Action("SearchByName", "Book")" class="d-flex">
				*@

				<form method="get" asp-action="Index" asp-controller="Book" class="d-flex">
					<input type="text" id="tenSach" name="tenSach"  class="form-control me-2" placeholder="Nhập tên sách">
					<button type="submit"  class="btn btn-dark">
                        <span class="fa fa-search"></span>
                    </button>
                </form>
            </div>

			<nav class="col-md-2">
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>
        </div>
    </div>
</header>
<nav id="menu">
	<h2>Menu</h2>

	<h4>@User.Identity.Name</h4>
	<ul>
		<li><a href="@Url.Action("Index", "Home")" class="active">Home</a></li>

		@if (this.User.IsInRole("Admin") || this.User.IsInRole("SuperAdmin"))
		{
			<li><a href="@Url.Action("Index", "QuanLy")">Quản lý</a></li>
			<li><a href="@Url.Action("ThongKe", "ThongKe")">Thống kê</a></li>

		}
		@if (User.Identity.IsAuthenticated)
		{
			<li><a href="@Url.Action("Cart", "Order")">Giỏ hàng</a></li>
			<li><a href="@Url.Action("OrdersList", "Order")">Đơn hàng</a></li>
			<li><a asp-controller="Account" asp-action="Logout">Logout</a></li>

		}
		else
		{
			<li><a href="@Url.Action("Login", "Account")">Đăng nhập</a></li>
		}
	</ul>
</nav>