@model WebStore.Models.OrderDetailViewModel

@{
    ViewData["Title"] = "DetailOrder";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h1>Detail</h1>

<div>
    <h4>Order Information</h4>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-2">Image</th>
                            <th class="col-md-6">Book Title</th>
                            <th class="col-md-4">Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderItem)
                        {
                            @foreach (var book in Model.LstBook)
                            {
                                if (item.BookId == book.BookID)
                                {
                                    <tr>
                                        <td>
                                            <span class="image">
                                                <img src="/images/@book.Image" height="120" width="110" alt="" />
                                            </span>
                                        </td>
                                        <td>
                                            @book.BookName
                                        </td>
                                        <td>
                                            @item.SoLuong
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="row">
                <label class="col-sm-3">Order ID</label>
                <div class="col-sm-9">
                    @Model.InfoOrder.OrderID
                </div>
                <label class="col-sm-3">Name</label>
                <div class="col-sm-9">
                    @Model.InfoOrder.Name
                </div>
                <label class="col-sm-3">Email</label>
                <div class="col-sm-9">
                    @Model.InfoOrder.Email
                </div>
                <label class="col-sm-3">Phone</label>
                <div class="col-sm-9">
                    @Model.InfoOrder.Phone
                </div>
                <label class="col-sm-3">Address</label>
                <div class="col-sm-9">
                    @Model.InfoOrder.Address
                </div>
                <label class="col-sm-3">Total Price</label>
                <div class="col-sm-9">
                    @Model.InfoOrder.TotalPrice.ToString("C")
                </div>
                <label class="col-sm-3">Status</label>
                <div class="col-sm-9">
                    @Model.InfoOrder.StatusString
                </div>
            </div>
        </div>
    </div>

    <a class="button" href="@Url.Action("EditOrder", new { id = Model.InfoOrder.OrderID })">Edit</a>
    <a class="button" href="@Url.Action("ManagerOrder")">Back to List</a>
</div>
